@import url('https://fonts.googleapis.com/css?family=Overlock:400,700|Ubuntu+Mono');

body {
  font-family: "Overlock", Arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  span {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 5px 5px;
  }
  &:hover {
    color: orange;
    text-decoration: none;
  }
}

img {
  width: 100%;
}

section.title {
  background: black;
  color: white;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.read-on {
  min-height: 20vh;
}

h1 {
  color: #ccc;
  font-size: 3rem;
  font-weight: bold;
  padding: 0 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 3rem 0 1.5rem;
  text-transform: uppercase;
  span {
    color: #777;
    font-weight: normal;
    vertical-align: top;
  }
}

p {
  text-align: justify;
  &.lead {
    font-size: 120%;
    font-weight: bold;
  }
  @media (max-width: 480px) {
    text-align: left;
  }
}

figure {
  padding-top: 1rem;
  figcaption {
    color: #777;
    font-style: italic;
    text-align: center;
  }
}

section.sponsors {
  background: #f0f0f0;
  margin-top: 2rem;
  padding: 0 0 1rem;
  text-align: center;
  img {
    padding: 2rem;
    max-width: 300px;
    width: 100%;
  }
}
